<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <% flash.each do |key, value| %>
      <div id="notice_wrapper" class="h-2">
        <div class="<%= key %>">
          <a class="alert_close"></a>
          <%= value %>
        </div>
      </div>
    <% end %>
    <%= render "shared/header" %>
    <% if user_signed_in? %>
      <div>
      </div>
    <% else %>
      <%= link_to 'LOG IN' , new_user_session_path, class: "btn btn-outline-dark"%>
      <%= link_to 'Sign Up' , new_user_registration_path, class: "btn btn-outline-dark"%>
    <%end%>

    <%= yield %>
  </body>
</html>
