<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/header" %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
     <% if user_signed_in? %>
       <div class="username">
      <%= current_user.name %>
      <br>
      <%= image_tag current_user.avatar , width: "200px" , class: "img-circle"%>
      </div>
      <% else %>
       <%= link_to 'LOG IN' , new_user_session_path, class: "btn btn-primary"%>
       <%= link_to 'Sign Up' , new_user_registration_path, class: "btn btn-primary"%>
    <%end%>


   <%= yield %>
 </body>
</html>
